<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{note.name}}">
    <ion-content class="padding">
        <div ng-if="note.fact1">
        <div class="list card">
            <div class="item item-divider">
                Facts
            </div>
            <div class="item">
                {{note.fact1}}
            </div>
            <div class="item">
                {{note.fact2}}
            </div>
            <div class="item">
                {{note.fact3}}
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Summary
            </div>
            <div class="item item-body">
                <p>{{note.summary}}</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                References
            </div>
            <div class="item item-body">
                <a href="{{note.reference}}">{{note.reference}}</a>
            </div>
        </div>
    </div>
    <div class="padding" ng-if="!note.fact1">
        <h4>This note has not been taken yet, log on online to annotate it.</h4>
    </ion-content>
</ion-view>
