<ion-view view-title="Home">
    <ion-content class="">
        <br />
        <br />
        <h1 class="text-center">To<span style="color:#0054EE">G</span><span style="color:#D0321F">o<span style="color:#FFA900">o<span style="color:#0059E1">g<span style="color:#0F8A41">l<span style="color:#CE301C">e</h1>
            <br />
            <br />
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
            <div class="text-center">
                <button class="button button-outline button-positive">
                    <i class="icon ion-clipboard"></i>
                    Add Note
                </button>
                </div
            </ion-content>
        </ion-view>
