<ion-view  view-title="{{title}}">
  <ion-content class="">
<!--      <label class="item item-input">
	<input type="text" placeholder="Title" ng-model="title">
      </label>-->
        <div class="row topbar">
          <div class="col col-75">
              <iframe  sandbox="allow-same-origin allow-scripts allow-popups allow-forms" ng-src="{{query.currentURL}}" height="75vh" ></iframe>
          </div>
            <div class="col col-25" style="height:100%">
                <div class="card animated slideInUp">
                    <label class="item item-input">
                        <span class="input-label">Search</span>
                        <input type="text" placeholder='"iPhone Processor"' ng-model="query.text">
                    </label>
                </div>
                <a style="margin:10px;" class="button button-block text- button-outline button-balanced" ng-click="search()">Search</a>
		<ng-include src='"templates/datapoint-list.html"'> </ng-include>
            </div>
        </div>
    </div>
    <div class="row bottombar">
        <div class="col col-75">
            <div class="card">
                <div class="item item-divider">
                    Summary
                </div>
                <ion-item >
                    <textarea ng-model="note.summary"></textarea>
                </ion-item>
            </div>
        </div>
        <div class="col col-25 text-center">
            <button style="min-width:260px;" class=" down button button-positive button-outline button-large" ng-click="save()">Save Note</button>
        </div>
    </div>
</ion-content>
</ion-view>
